* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: azure;
}

#nav-bar ul {
  margin: auto;
  padding: 0;

  max-width: 600px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#nav-bar li {
  list-style-type: none;
  flex: 1;
  text-align: center;
}

#nav-bar a {
  display: block;
  padding: 1em 1.5em;
}

#title-container {
  display: flex;

  padding: 0 2em;

  justify-content: center;
  align-items: center;
}

#title-container h1 {
  margin: 0;
  font-family: sans-serif;
}

#title-container img {
  margin-left: 0.7em;
}

main {
  max-width: 800px;
  margin: auto;
}

main p,
main form {
  margin-left: 2em;
}

#video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

#video {
  position: absolute;

  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
}

footer {
  margin: 2em auto;
  max-width: 600px;
}

@media (max-width: 360px) {
  #nav-bar li {
    flex-basis: 100%;
  }
}
